/* style.css */
body{
  background: rgb(245,245,245);
  color: black;
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
}
h1{
  color: red;
  font-weight: lighter;
  font-size: 20px;
}
h2 {
  color: orange ;
  font-weight: lighter;
  font-size: 18px;
}
a {
  color: black ;
}
a:hover {
  text-decoration: none;
  color: red ;
}

#baseline h1 {
  color: purple;
  font-family: arial
}

.blue-title {
  color: rgb(35,115,225);
  font-size: 18px
}